body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:'Cairo black' ;
  src: local('Cairo'), url('./assets/fonts/Cairo-Black.ttf');
}


@font-face {
  font-family:'Cairo bold' ;
  src: local('Cairo'), url('./assets/fonts/Cairo-Bold.ttf');
}

@font-face {
  font-family:'Cairo extra light' ;
  src: local('Cairo'), url('./assets/fonts/Cairo-ExtraLight.ttf');
}

@font-face {
  font-family:'Cairo  light' ;
  src: local('Cairo'), url('./assets/fonts/Cairo-Light.ttf');
}

@font-face {
  font-family:'Cairo regular' ;
  src: local('Cairo'), url('./assets/fonts/Cairo-Regular.ttf');
}

@font-face {
  font-family:'Cairo semi bold' ;
  src: local('Cairo'), url('./assets/fonts/Cairo-SemiBold.ttf');
}